<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsStore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/advanced-options/use-with-node-js/fontawesome-free/css/all.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/advanced-options/use-with-node-js/fontawesome-free/css/all.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="col-md-3">
                <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Log Out</a>
            </div>
        </div>
        <div class="row">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
        </div>
        <div class="row">
            <div class="col-md-3">
                <div>
                    @*<a class="btn-primary" asp-action="ListUsers" asp-controller="Admin">List Users</a>*@
                    <a class="btn-primary" href="javascript:GetAction('Admin','ListUsers','#BodyContent')">List Users</a>
                </div>
                <div>
                    @*<a class="btn-primary" asp-action="Index" asp-controller="RoleAdmin">Roles</a>*@
                    <a class="btn-primary" href="javascript:GetAction('RoleAdmin','Index','#BodyContent')">Roles</a>
                </div>
                <div>
                    @*<a class="btn-primary" asp-action="Index" asp-controller="Admin">Products</a>*@
                    <a class="btn-primary" href="javascript:GetAction('Admin','Index','#BodyContent')">Products</a>
                </div>
            </div>
            <div id="BodyContent" class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    @* href="javascript:someFunction(@Model.ProductID) *@
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/ajax/dist/ajax.min.js"></script>
        <script src="~/js/Admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/ajax/dist/ajax.min.js"></script>
        <script src="~/js/Admin.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
<

</html>

